@charset "UTF-8";
#addUserId form{
	padding-top: 20px;
}
#addUserId form > label{
	height: 32px;
	line-height: 32px;
	width: 46%;
	float: left;
	padding: 5px 0px 5px 15px;
}
#addUserId form > div{
	display: block;
	width: 96%;
	height: 36px;
	line-height: 36px;
	padding-top: 30px;
	text-align: center;
}
#addUserId form > div a{
	margin: 0 20px 0 20px;
	padding: 2px 5px 2px 5px;
}
#addUserId form input{
	width: 160px;
}
#addUserId form select{
	width: 160px;
}
.easyui-accordion ul{
	list-style-type:none;
	padding: 0px;
}
.easyui-accordion ul li{
	border: 1px solid red;
	padding: 0px 10px;
	margin: 5px 2px;
	height: 26px;
	line-height: 26px;
	cursor: pointer;
	border-radius:5px;
}
.easyui-accordion ul li:hover{
	background-color: #eee;
}
